.one-lines-words {
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1em;
  line-height: 1.5em;
  height: 1.5em;
}

.two-lines-words {
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2em;
  line-height: 1.5em;
  height: 3em;
}

.three-lines-words {
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3em;
  line-height: 1.5em;
  height: 4.5em;
}

.four-lines-words {
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 4em;
  line-height: 1.5em;
  height: 6em;
}

.resource-info-list li{
    border-left: 4px solid #1351a8;
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.12);
}
.resource-info-list li a{
    color: #707070;
}

@media(max-width: 768px) {
    button.full-width {
        width: 100%;  
    }
}

#full-stars-example-two {
    /* use display:inline-flex to prevent whitespace issues. alternatively, you can put all the children of .rating-group on a single line */
    /* make hover effect work properly in IE */
    /* hide radio inputs */
    /* hide 'none' input from screenreaders */
    /* set icon padding and size */
    /* set default star color */
    /* if any input is checked, make its following siblings grey */
    /* make all stars orange on rating group hover */
    /* make hovered input's following siblings grey on hover */
  }
  #full-stars-example-two .rating-group {
    display: inline-flex;
  }
  #full-stars-example-two .rating__icon {
    pointer-events: none;
  }
  #full-stars-example-two .rating__input {
    position: absolute !important;
    left: -9999px !important;
  }
  #full-stars-example-two .rating__input--none {
    display: none;
  }
  #full-stars-example-two .rating__label {
    cursor: pointer;
    padding: 0 0.1em;
    font-size: 2rem;
  }
  #full-stars-example-two .rating__icon--star {
    color: orange;
  }
  #full-stars-example-two .rating__input:checked ~ .rating__label .rating__icon--star {
    color: #ddd;
  }
  #full-stars-example-two .rating-group:hover .rating__label .rating__icon--star {
    color: orange;
  }
  #full-stars-example-two .rating__input:hover ~ .rating__label .rating__icon--star {
    color: #ddd;
  }

.input-group > .select2-container--bootstrap {
    width: auto;
    flex: 1 1 auto;
}

.select2-container .select2-selection--single {
  box-sizing: border-box !important;
  cursor: pointer !important;
  display: block !important;
  user-select: none !important;
  -webkit-user-select: none !important;
  border-color: #ebebeb !important;
  padding: 0.75rem 0.85rem !important;
  height: calc(2.56em + 0.75rem + 2px) !important;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
  height: 26px !important;
  position: absolute !important;
  top: 13px !important;
  right: 1px !important;
  width: 20px !important;
}

.list.expand {
  height: 180px;
  overflow: hidden;
  position: relative;
  -webkit-transition: height .3s ease-in-out;
  -moz-transition: height .3s ease-in-out;
  transition: height .3s ease-in-out;
}
.list.expand.open {
  padding-bottom: 20px;
}

.more-less {
	position: absolute;
	bottom: 0;
	display: block;
	width: 100%;
	text-align: left;
	font-weight: bold;
	font-size: 16px;
	background: white;
  color: #1351a8;
	cursor: pointer;
}

.closed .more-less::after {
	content: '+ Tampil lebih banyak';
}
.open .more-less::after {
	content: '× Tampil lebih sedikit';
}

.list.expand.open .more-less {
  background: none;
}

.owl-header {
    height: 100% !important;
    overflow: hidden;
}

.owl-header .owl-item img {
    display: block;
    height: 100%;
    width: auto;
    min-width: 100%;
    object-fit: cover;
    object-position: center;
}

.owl-header .owl-stage-outer {
  height: 100% !important;
}

@media all and (max-width: 1280px) {
  .view-slider-image {
    width: 100%;
    height: 480px;
    top: 85px;
    overflow: hidden;
    background: gray;
    position: relative;
  }
}

@media all and (max-width: 1025px) {
  .view-slider-image {
    width: 100%;
    height: 400px;
    top: 85px;
    overflow: hidden;
    background: gray;
    position: relative;
  }
}

@media all and (max-width: 768px) {
  .view-slider-image {
    width: 100%;
    height: 230px;
    top: 85px;
    overflow: hidden;
    background: gray;
    position: relative;
  }
}